* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app_container {
  background-color: #C6DEC3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px 30px;
}